{% extends 'base.html.twig' %}

{% block title 'Se connecter' %}

{% block body %}

    <p>
        email: {{ mail }}
    </p>
    <p>
        password: {{ password }}
    </p>
    <p>
        confirmPassword: {{ confirmPassword }}
    </p>
{% endblock %}