{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Creer un compte</h1>

    <div class="container">

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword) }}

        <button class="btn btn-primary">Register</button>
        {{ form_end(registrationForm) }}

    </div>

{% endblock %}
