<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div style="margin-left: 50px">

    <div>
        <h3> Changing your password</h3>
        <p>
            your password has been changed successfuly {{ user.username }}
        </p>
    </div>

    <div>
        <p>
            to connect with your account visit <a href="{{ url('login') }}">Agency login-In</a>
        </p>
    </div>
</div>
</body>
</html>