{% extends 'base.html.twig' %}

{% block title 'Creer une nouvelle option' %}

{% block body %}
    <div class="container mt-4">
        <h1>Creer une nouvelle option</h1>

        {{ include( 'admin/criteria/form.html.twig',{button:'Creer'} )}}

    </div>

{% endblock %}